# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/

# Unit test / coverage reports
.cache
.pytest_cache/


# DB:
inMem_records.db
inMem_records_test.db

# Environments
.venv
venv/

# Other
.idea/
